﻿.rightMargin {
    margin-right: 10px !important;
}

.leftMargin {
    margin-left: 10px !important;
}

.topMargin {
    margin-top: 10px !important;
}

.bottomMargin {
    margin-bottom: 10px !important;
}

.addSectionMargin {
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.floatRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.iconContainer {
    display: flex; /* Use flexbox to arrange items */
    justify-content: flex-end; /* Align icons to the right */
    gap: 10px; /* Optional: adds spacing between the icons */
}

.iconStyle {
    cursor: pointer;
    margin-right: 10px;
    font-size: 15px;
    transition: transform 0.2s ease;
}

.buttonIconAndTextAlignment {
    display: flex;
    align-items: center;
}

.paddingButton {
    padding: 20px 20px;
}

.dropdown {
    border-color: blue;
}

.radioInput {
    background: none !important;
    box-shadow: none !important;
    margin-left: 10px !important;
}

.radioLabel {
    background: none !important;
    box-shadow: none !important;
    margin-right: 10px !important;
}

.confirmPosition {
    position: fixed; /* Fix the position relative to the viewport */
    top: 50%; /* Vertically center */
    left: 50%; /* Horizontally center */
    transform: translate(-50%, -50%); /* Adjust for element's own dimensions */
    width: 400px; /* Set a fixed width (or percentage like 80%) */
    height: auto; /* Adjust height based on content */
    max-width: 90%; /* Optional: set a maximum width to prevent stretching too far */
    margin: 0; /* Remove default margin */
    z-index: 9999; /* Ensure it is above other elements */
    background-color: white; /* Background color for the dialog */
    padding: 20px; /* Add padding inside the dialog */
    border-radius: 8px; /* Optional: Rounded corners */
    box-sizing: border-box; /* Ensure padding is included in the width */
}

.saveVisaStatus {
    margin-bottom: 2px !important;
}

/* CameraIcon.css */
.circle {
    width: 100px !important;
    height: 100px !important;
    border-radius: 10px !important; /* Makes it circular */
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border: 2px solid #000 !important;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vh; /* Make the parent take full screen height */
    margin-bottom: 4px;
}

.talentCard {
    height: 550px !important;
    width: 650px !important;
    border: 1px solid lightgray !important;
}

.companyProfileCircle {
    width: 80px !important;
    height: 80px !important;
    border-radius: 50% !important; /* Makes it circular */
    background-color: #d6d6d6 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border: 2px solid #000 !important;
    overflow: hidden !important;
}

.card {
    height: 300px !important; /* Adjust as needed */
    width: 300px !important;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    position: relative; /* Allows transform and positioning */
}

.content {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

.cardContentExtras {
    display: flex !important;
    justify-content: space-between !important;
}

.imageIcon {
    color: white !important;
}

.removing {
    opacity: 0 !important; /* Fade out effect */
    transform: translateY(-20px) !important; /* Optional: move the card up for smoother exit */
}

.new {
    opacity: 0 !important;
    transform: translateY(20px) !important; /* Optional: start new card from below */
    animation: fadeIn 0.3s ease-in-out forwards !important;
}

.cardImageContainer {
    width: 50% !important; /* Half the width of the card */
    height: 100% !important; /* Full height of the card content */
    overflow: hidden !important; /* Ensure the image doesn't overflow */
    margin: 0; /* Remove any margins */
    padding: 0; /* Remove padding */
}

.cardImage {
    width: 100% !important; /* Ensure the image fills half the width */
    height: 100% !important; /* Ensure the image fills the height of the container */
    object-fit: cover !important; /* Ensures the image covers the container without stretching */
}

.cardHeader {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.cardBody {
    display: flex !important;
    flex-direction: row !important;
    height: 100% !important; /* Ensures the body takes up the remaining space */
}

.cardDescription {
    flex: 1 !important; /* Ensures description takes up remaining space */
    display: flex !important;
    width: 100% !important;
    margin: 0 !important;
}

/*scroll bar styles*/
.scroll {
    overflow-y: scroll;
    max-height: calc(2 * 410px);
}

.talentFeedMain {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
}

.talentFeedSideDiv {
    width: 300px;
}

.talentFeedCardDiv {
    width: 700px;
}

.skillsDiv {
    display: flex !important;
    flex-wrap: wrap !important;
    overflow-y: auto; /* Optional: If you want skills section to scroll within the card */
    max-height: 60px; /* Limit the height of the skills section */
}

.skillStyle {
    margin-right: 5px !important;
    margin-bottom: 5px !important;
    border-radius: 5px !important;
    padding: 10px 20px !important;
    border: 2px solid #2185d0 !important;
    background-color: transparent !important;
}

.uiCenterAligned {
    display: flex !important;
    justify-content: center; /* Centers text horizontally */
    align-items: center; /* Centers text vertically */
    height: 100% !important;
    width: 100%; /* Ensure it takes full width of the parent */
}
